.main-content{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    height: 450px;
    width: 700px;
    border: 1px solid black;
    display: flex;
   
}

.col1{
    height: 450px;
    width: 300px;
    border: 1px solid red;
    /* background-image: url('image/imagel.png');
    object-fit: center; */
}

.col2{
    height: 450px;
    width: 400px;
    border: 1px solid red;
}


input{
    border: 1px solid black;
    border-radius: 5px;
    /* width: 40px; */
}